<form>
  <fieldset disabled>
    <div class="row mb-3">
      <label for="disabledTextInput" class="col-sm-2 col-form-label">CNAME Record</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" value="<%= domain.cname_record %>">
      </div>
    </div>
    <div class="row mb-3">
      <label for="disabledTextInput" class="col-sm-2 col-form-label">A Record</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" value="<%= domain.a_record %>">
      </div>
    </div>
    <div class="row mb-3">
      <label for="disabledTextInput" class="col-sm-2 col-form-label">AAAA Record</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" value="<%= domain.aaaa_record %>">
      </div>
    </div>
  </fieldset>
</form>