<form>
  <fieldset disabled>
    <div class="row mb-3">
      <label for="disabledTextInput" class="col-sm-2 col-form-label">Status code</label>
      <div class="col-sm-10">
      </div>
    </div>
  </fieldset>
</form>