<form>
  <fieldset disabled>
    <div class="row mb-3">
      <label for="disabledTextInput" class="col-sm-2 col-form-label">Created at</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" placeholder="<%= domain.created_at %>" aria-label="readonly input example" readonly>
      </div>
    </div>
    <div class="row mb-3">
      <label for="disabledTextInput" class="col-sm-2 col-form-label">Checked at</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" placeholder="<%= domain.checked_at %>" aria-label="readonly input example" readonly>
      </div>
    </div>
    <div class="row mb-3">
      <label for="disabledTextInput" class="col-sm-2 col-form-label">Updated at</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" placeholder="<%= domain.updated_at %>" aria-label="readonly input example" readonly>
      </div>
    </div>
  </fieldset>
</form>