<form action="/domains" accept-charset="UTF-8" method="post">
  <fieldset>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input id="id" name="id" value="<%= @domain.id %>" type="hidden" >
    <div class="row mb-3">
        <div class="col-auto">
        <% if @domain.checked_at < (DateTime.now - 1.day) %>
          <button type="submit" class="btn btn-primary mb-3">Queue up!</button>
        <% else %>
          <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="right" title="Domains may only be queued up once a day.">
            <button class="btn btn-secondary mb-3" disabled>Queue up!</button>
          </span>
        <% end %>
        </div>
      </div>
    </div>
  </fieldset>
</form>