<%- view_title "Domains" %>

<% content_for :main do %>
  <h1>Domains <small class="text-muted"><%= @domains.count %></small></h1>

  <div class='table-responsive'>
    <table id="domain_table" class="table table-hover" data-source="<%= domains_url(format: "json") %>">
      <thead class="table-light">
        <tr>
          <th>Domain name</th>
          <th>Is live?</th>
          <th>Checked at</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <!-- For clickable tables -->
  <script type="text/javascript">
    function make_rows_clicky() {
      $('tbody').on('click', 'tr', function() {
        href = $(this).attr('data-link');
        if (href) {
          window.location = href;
        }
      });
    }

    function inititialize_table() {
      $(document).ready( function () {
        $('#domain_table').DataTable({
          serverSide: true,
          ajax: {
            url: $('#domain_table').data('source'),
            dataSrc: 'tableData'
          },
          columns: [
            { data: "domain_name" },
            { data: "is_live" },
            { data: "checked_at" }
          ],
          processing: true,
          searching: true,
          ordering: false,
          paging: true,
          pagingType: "full_numbers"
        });
      });
    }

    inititialize_table();
    make_rows_clicky();
  </script>
<% end %>