<%- view_title "Domain | #{@domain.domain_name}" %>

<% content_for :main do %>
  <h1><%= @domain.domain_name %></h1>

  <h2>DNS information</h2>
  <%= dns_form(@domain) %>

  <h2>Websites</h2>
  <%= websites_section(@domain) %>

  <h2>Meta data</h2>
  <%= meta_data_form(@domain) %>
<% end %>