<%- view_title "About" %>

<% content_for :main do %>
  <h1 class="display-3">About <%= "#{Rails.application.config.app_name}" %></h1>

  <p class="lead">So, what's this all about?!</p>
  
  <p><em>pshtt-plus</em> is an analyzer for public-facing .gov websites, based on the CISA open source tool, <a href="https://github.com/cisagov/pshtt" target=_blank><em>pshtt</em></a>.</p>

  <p><em>pshtt-plus</em> is a part of the <a href="https://risk-redux.io" target=_blank>Risk-Redux</a>, an initiative to make useful Federal Goverment cybersecurity resources easier to use.</p>
<% end %>
