<%- view_title "Welcome!" %>

<% content_for :main do %>
  <h1>Welcome to <%= "#{Rails.application.config.app_name}" %>!</h1>

  <div class="container">
    <div class="row">
      <div id="domain_donut_chart" class="col-md-6">
        <div id="observablehq-chart-0cf17cd8"></div>

        <script type="module">
        import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
        import define from "https://api.observablehq.com/@egyptiankarim/domain-donut-chart/2.js?v=3";
        new Runtime().module(define, name => {
          if (name === "chart") return new Inspector(document.querySelector("#observablehq-chart-0cf17cd8"));
        });
        </script>
      </div>
      <div id="website_donut_chart" class="col-md-6">
        <div id="observablehq-chart-a464a14f"></div>

        <script type="module">
        import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
        import define from "https://api.observablehq.com/@egyptiankarim/website-donut-chart.js?v=3";
        new Runtime().module(define, name => {
          if (name === "chart") return new Inspector(document.querySelector("#observablehq-chart-a464a14f"));
        });
        </script>
      </div>
    </div>
  </div>
<% end %>
